/*########################################################### PARAMETRES GENERAUX #######################################################################*/
/*########################################################### PARAMETRES GENERAUX #######################################################################*/
main {
	justify-content: space-evenly !important;
	align-items: baseline !important;
	flex-flow: row wrap !important;
}
header {
	margin-bottom: 100px !important ;
}
.h2Scroll{
	padding: 20px;
	width: 200px;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 1px 0px 3px black;
	text-align: center;
	background-color: black;
	color: white;
}
.divScroll {
	display: flex;
	padding: 10px;
	color: black;
}

#divDepliant,
#divDepliant2 {
	top: 40px !important;
}
#divDepliant3,
#divDepliant4 {
	top: 45px !important;
}

/*############################################################## SECTION BEST OFFRES ###################################################################*/
/*######################################################## titre best offre et son animation ###########################################################*/
#bestOffres {
	white-space: nowrap;
	animation-duration: 1s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	position: absolute;
	margin-bottom: 130px;
}
.div_titre {
	display: flex;
	width: 200px !important;
	position: relative;
}

@keyframes slidein {
	from {
		font-size: 90%;
	}
	75% {
		font-size: 100%;
	}
	to {
		font-size: 90%;
	}
}
/*######################################################### Reste de la section BEST OFFRES ###########################################################*/
/*######################################################### Reste de la section BEST OFFRES ###########################################################*/
.sectionBestOffres,.offre,.offreContenu {
	display: flex;
	align-items: center;
}
.sectionBestOffres {
	flex-flow: column;
	justify-content: center;
	width: 50%;
	background-color: white;
	border: solid 2px #dbaa6a;
	transition: all 0.4s;
	padding-top: 100px;
}
.sectionBestOffres:hover {
	transform: scale(1.03);
	box-shadow: 0px 2px 4px 5px #0000006c;
}
.offre {
	font-size: 14px;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 80%;
	padding: 15px;
}
.offre p {
	max-width: 400px;
	margin-bottom: 20px;
	text-align: justify;
	font-weight: 600;
}
.offreContenu {
	justify-content: space-evenly;
	flex-flow: column;
}
.imgPartenaires {
	padding: 10px;
	max-width: 100px;
	height: auto;
}
.ul1,
.ul2 {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-flow: column wrap;
	width: 100%;
}
.ul1 {
	height: 75px;
}
.ul1 li,
.ul2 li {
	color: black;
	display: flex;
	margin: 2px;
}
.ul2 {
	height: 150px;
}
.plusMargin {
	margin-bottom: 10px;
}
.border {
	border: solid black 1px;
}
.dernierP {
	margin-top: 10px;
}
/*################################################################### Section FOURNISSEURS #############################################################*/
/*################################################################### Section FOURNISSEURS #############################################################*/
.partenairesSections {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin-bottom: 70px;
	width: 500px;
}
.scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
}
.scroller {
	overflow: scroll;
}
.petiteDiv {
	width: 350px;
	height: 300px;
	text-align: justify;
	padding: 25px;
}
.fournisseurs {
	max-height: 300px;
	width: 70%;
	background-color: #d9cebf;
	min-height: 300px;
	border: solid 2px #dbaa6a;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;
	padding: 15px;
}
.fournisseurs p {
	width: 300px;
	padding: 15px;
	text-align: justify;
}
.petitesDivs,
.petiteDiv {
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;
	padding: 15px;
}
.petitesDivs,
.petiteDiv {
	justify-content: center;
}
.petitesDivs {
	width: 100px;
	height: 110px;
	overflow: hidden;
}
.logosPartenaires {
	width: 100%;
	height: auto;
}
.logo-Aliprandi {
	width: 70%;
}
.logosEspacesVerts {
	width: 200px;
}
.espaceVertDiv {
	width: 200px;
	height: auto;
	margin: 5px;
}
.columnEspacevert {
	flex-flow: column;
}
/*########################################################################## MEDIA QUERIES ##############################################################*/
/*########################################################################## MEDIA QUERIES ##############################################################*/
@media screen and (max-width: 830px) {
	.ul1,
	.ul2 {
		flex-flow: row wrap;
	}
	.sectionBestOffres {
		width: 360px;
	}
	@keyframes slidein {
		from {
			font-size: 100%;
		}
		75% {
			font-size: 105%;
		}
		to {
			font-size: 100%;
		}
	}
	.sectionBestOffres:hover {
		transform: scale(1);
	}
}
